# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/docs/*
!docs/.gitkeep

# api keys
/src/keys

# doc scripts
GenerateDocsWindows.bat

# misc
.DS_Store
.env*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
!package-lock.json
yarn.lock
