version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:chakracore-10.13

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/MYR

    steps:
      - checkout
      - run: mkdir ~/MYR/src/keys
      - run: touch ~/MYR/src/keys/firebase.js
      - run: echo -e "export const firebaseKey = \"$FIREBASE_KEY\";\n export default firebaseKey;" > src/keys/firebase.js
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test 