body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  padding: 0 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.App-header h1 {
  color: white;
  margin-top: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

div#user {
  display: flex;
  flex-direction: row-reverse;
}

#user p{
  color: #fff;
  padding: 5px 12px;
}

#user img {
  float: right;
}

#scene-name input {
  font-size: large;
  color: #fff;
  background-color: #222;
  border: none;
}

#scene-name input:focus {
  color: #222;
  background-color: #fff;
}

#editor {
  padding-left: 0;
  height: 55vh;
}

@media (min-width: 1200px) {
  #editor {
    border-right: 0;
  }
  .App {
    padding: 0;
  }
  #interface {
    padding-right: 0;
  }
}

#scene {
  height: 90vh;
  border: #222 1px solid;
}

a-scene {
  height: 100% !important;
}

a-scene[aframe-inspector-removed-embedded] {
  width: 100vh;
  left: -35%;
}

.ace-github .ace_print-margin {
  background: #fff !important;
}

th:nth-child(1),
td:nth-child(1){
  color: #266d90;
  width: 15%;
}

/* inspector fixes */
#sidebar, .components{
  width: 400px !important;
}

.components .row{
  margin-left: 5px;
}

.toggle-edit {
  left: 150px !important;
  position: absolute !important;
  width: 150px !important;
}

body.aframe-inspector-opened .toggle-edit {
  left: 0 !important;
  top: 0 !important;
}

/* animations */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 500px;
}

.delete-btn {
  float: right;
}

#interface {
  border-right: 0;
}

#terminal {
  padding-top: 4.8vh;
  height: 30vh;
  border-top: 1px solid;
}

div.react-console-container {
  font-size: 0.85em;
  font-family: "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
  width: 60em;
  max-width: 100%;
  box-sizing: border-box;
  height: 20em;
  background: #efefef;
  padding: 0.5em;
  overflow: auto;
  white-space: pre; }

div.react-console-prompt-box {
  color: #444; }

span.react-console-prompt-label {
  font-weight: bold; }

div.react-console-focus span.react-console-cursor {
  background: #333;
  color: #eee; }

div.react-console-nofocus span.react-console-cursor {
  background: none;
  color: #444;
  outline: 0.1em solid #333;
  outline-offset: -0.1em; }

div.react-console-focus span.react-console-cursor-idle {
  animation: react-console-cursor-animation 1s infinite; }

@keyframes react-console-cursor-animation {
  0% {
    background: #333;
    color: #eee; }
  50% {
    background: #333;
    color: #eee; }
  51% {
    background: none;
    color: #444; }
  100% {
    background: none;
    color: #444; } }

div.react-console-message {
  color: #0e1111;
  padding: 0.1em; }

div.react-console-message-error {
  color: #ff0033;
  padding: 0.1em; }


  .spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .spinner:not(:required) {
    /* hide "spinner..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .cube1, .cube2, cube3 {
    background-color: #222;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 3.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(4.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(4.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
}