.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#editor {
  border: 1px solid blue;
}
#scene {
  height: 900px;
  border: 1px solid red;
}
a-scene {
  height: 100% !important;
}

.ace-github .ace_print-margin {
  background: #fff !important;
}