.course-listing p {
    height: 6em;
    overflow: auto;
    color: #333;
}

.course-listing p:hover {
    color: #000;
}

.course-listing a:hover {
    text-decoration: none;
    color: blue;
}

div#courses {
    max-height: 60vh;
    overflow: auto;
}

#lesson {
    padding: 10px;
    background: #fff !important;
}

#lesson p {
    height: 12vh;
    margin: 0;
    overflow: auto;
}

#lesson fieldset {
    height: 16vh;
    margin: 0;
}
