.course-listing p {
    height: 4.5em;
    overflow: auto;
    color: #333;
}

.course-listing p:hover {
    color: #000;
}

.course-listing a:hover {
    text-decoration: none;
    color: blue;
}

div#courses {
    max-height: 70vh;
    overflow: scroll;
}
