#objectContainer {
    position: relative;
    top: 0px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

p {
    padding-left: 5px;
    padding-right: 5px;
}

h3 h6 {
    margin: 6px;
}

#input_row {
    max-width: 350px;
}

.param_input {
    margin-left:20px;
    margin-right:20px;
}

#submit_button {
    margin-left:20px;
    margin-right:20px;
}

#param_divider {
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.valuePara {
    float:right !important;
}

.keyPara {
    float: left !important;
}

.col-3 {
    padding-left: 15px;
    padding-right: 0px;
}

.col-6 {
    padding: 0px;
    text-align: center;
}

#title {
    text-align: center !important;
}

#popover_div {
    min-width: 200px !important;
    min-height: 200px !important;
}